<section class="painel">
  <div>
    <div class="container">
      <form [formGroup]="form" (ngSubmit)="Drone()">

        <h1>Controle</h1>
        <div>
          <label>Id Drone: </label>
          <input formControlName="idDrone">

        </div>
        <div>
          <label>Latitude: </label>
          <input formControlName="latitude">

        </div>
        <div>
          <label>Longitude: </label>
          <input formControlName="longitude">

        </div>
        <div>
          <label>Temperatura: </label>
          <mat-slider thumbLabel [displayWith]="formatLabelTempHumi" formControlName="temperatura" tickInterval="100"
            min="1" max="100"></mat-slider>
        </div>
        <div>
          <label>Humidade do Ar: </label>
          <mat-slider thumbLabel [displayWith]="formatLabelTempHumi" formControlName="humidade" tickInterval="100" 
           min="1" max="100"></mat-slider>
        </div>
      </form>
      <button type="submit" (click)="Drone()">Ativar rastreamento</button>
    </div>
  </div>
</section>